<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/">Home</a>
  </div>

  <ul class="auth-buttons">
    @if (!isLoggedIn) {
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
    } @else {
      <li class="users-info">
        <span>Welcome {{ username }}</span>
        <button class="logout-button" (click)="logout()">Logout</button>
      </li>
    }

    @if (isAdmin) {
      <li>
        <a routerLink="/add-product" class="add-product-button">Add Product</a>
      </li>
    }
  </ul>
</nav>
