<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products; trackBy: trackById">
      <div class="product-card">
        <div class="product-image-container">
          <img [src]="product.imageUrl" [alt]="product.name" class="img-responsive"/>
        </div>
        <div class="product-details">
          <div class="product-text">
            <div class="stock">
              <span>Stock: {{ product.stock }}</span>
            </div>
            <div class="product-content">
              <div class="title-product">
                <h3>{{ product.name }}</h3>
              </div>
              <div class="description-prod">
                <p>{{ product.description }}</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="price-container"><span class="price">€{{ product.price | number:'1.2-2' }}</span></div>
              <div class="cart-button-container">
                <button class="buy-btn" (click)="addToCart(product)">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
