<div class="container">
  <h2>Add product</h2>

  <div class="message-container">
    @if (status === 'success') {
      <p class="success-message">{{ message }}</p>
    }

    @if (status === 'error') {
      <p class="error-message">{{ message }}</p>
    }
  </div>

  <form [formGroup]="addProductForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="description" class="form-control" id="description" formControlName="description" />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="price" class="form-control" id="price" formControlName="price"/>
    </div>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="stock" class="form-control" id="stock" formControlName="stock"/>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image url</label>
      <input type="imageUrl" class="form-control" id="imageUrl" formControlName="imageUrl"/>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addProductForm.invalid">Submit</button>
  </form>
</div>
