spring.application.name={application_name}
spring.datasource.url=jdbc:mysql://localhost:3306/{UrlName}
spring.datasource.username={username}
spring.datasource.password={password}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret={jwt_key_Base64}

admin.email={admin email}
admin.name={admin name}
admin.password={admin password}

cors.allowedOrigins=http://localhost:4200,http://domain.com